:host{
  height: 100%;
}

.proyect{
  margin: 1rem;
}

.options{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.proyect-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  span{
    margin-left: 2rem;
  }
}
.name-leader {
  margin-left: auto;
  //font-size: 1.1rem;

  .mat-select{
    padding: 0;
    margin: 0;
  }
}

.info{
  margin-top: 1rem;
}

.card-user{
  display: flex;
  flex-direction: row;
  //border: 1px solid whitesmoke;
  border-radius: 20px;
  height: 300px;
}

.list-user-proyect{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px 5px 10px;
  border: 1px solid white; 
  height: min-content; 
  padding: 5px; 
  border-radius: 20px;
}

.input-group{
  width: 360px;
  height: 20px;
}
// .example-headers-align{
//   margin-top: 1rem !important;
// }

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}


.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  //background: #575757;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: #E5E8E8;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.size-box{
  height: 60vh;
  overflow-y: auto;
}

@media screen and (max-width: 800px) {
  mat-panel-description{
    display: none;
  }

  .input-group{
    display: none;
  }

  .state{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .card-user{
    display: flex;
    flex-direction: column;
    //border: 1px solid whitesmoke;
    border-radius: 20px;
    height: 300px;
  }

  .options{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
}