<mat-toolbar color="primary">
  <div>
    <button mat-icon-button (click)="menuClicked.emit()">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-mini-fab matTooltip="Crear Proyecto" (click)="openModal()" *ngIf="shouldShowButton()">
      <mat-icon>add</mat-icon>
    </button>
  </div>


  

  <div class="user-info">
    <span style="margin-right: 5px;">{{username}}</span>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <img src="{{foto}}" alt="" class="rounded-circle">
      <!-- <mat-icon>account_circle</mat-icon> -->
    </button>
  </div>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/users/profile">
      <mat-icon>account_box</mat-icon>
      <span>Perfil</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar Sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple"
               [fullScreen]="true"><p style="color: white"> Cargando... </p></ngx-spinner>
