.form-create-user{
    margin: 1rem;
}

/* Estilos personalizados para el campo de entrada de archivo */
.custom-file-input {
    position: relative;
    width: 100%;
    height: 75%;
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 36px;
    //padding: 4px 8px;
    background-color: #fff;
    border: 1px dashed #ccc;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
  }
  
  .custom-file-input input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Cambia el color del campo de entrada de archivo */
  .custom-file-input {
    //background-color: #474747;
    border-color: whitesmoke; /* Puedes cambiar esto a otro color de tu elección */
    border: 1px solid gray;
  }
  